@use '../mixins' as *;

.burger-button {
	@include reset-button;
	@include square(60px);

	position: relative;

	&::after {
		@include abs-center;

		content: '';
		width: 50%;
		height: 2px;
		background-color: var(--primary-dark);
		border-radius: 2px;

		box-shadow: 0 -8px, 0 8px;
	}
}
