@use '../media' as *;
@use '../mixins' as *;

.header {
	padding-top: 60px;

	@include desktop {
		padding-top: 30px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 30px;

		@include desktop {
			column-gap: 20px;
		}
	}

	&__menu {
		margin-left: auto;

		&-list {
			display: flex;
			align-items: center;
			column-gap: 30px;

			@include desktop {
				column-gap: 20px;
			}
		}

		&-link {
			display: inline-flex;
			align-items: center;
			height: var(--button-height);
			position: relative;

			&:hover {
				color: var(--primary-link);
				transition-duration: inherit;
			}

			@include hover {
				&::after {
					width: 100%;
				}
			}

			&::after {
				content: '';
				position: absolute;
				top: 77%;
				left: 50%;
				translate: -50%;
				width: 0;
				height: 2px;
				background-color: currentColor;
				transition-duration: inherit;
			}
		}
	}

	&__button {
		@include fluid-text(24, 20);

		padding: 10px 30px;
		border: var(--border);
		border-radius: var(--border-radius-button);
		color: var(--primary-dark);
		background-color: var(--primary-color);

		@include desktop {
			padding: 5px 15px;
		}
	}
}
