@use '../media' as *;

.reviews {
	max-width: 80%;
	display: flex;
	flex-direction: column;
	gap: 2em;

	@include tablet {
		max-width: 100%;
	}

	&__item {
		display: flex;
		gap: 1em;

		@include mobile {
			flex-direction: column;
		}

		&-card {
			min-width: 10em;
			position: relative;
			text-align: center;

			@include mobile {
				max-width: 12em;
			}
		}

		&-image {
			width: 100%;
			max-width: 10em;
			height: auto;

			@include mobile {
				max-width: 12em;
			}
		}

		&-button-holder {
			position: absolute;
			min-width: 10em;
			top: 6.7em;
			left: 50%;
			transform: translate(-50%, 50%);
			z-index: 10;
			display: inline-block;

			@include mobile {
				position: absolute;
				bottom: 0em;
				left: 50%;
				transform: translate(-50%, 50%);
				min-width: 8em;
			}
		}

		&-button {
			padding: 5px 30px !important;

			@include mobile {
				padding: 5px 20px !important;
			}
		}

		&-body {
			max-width: 40em;
			min-width: 31em;

			@include tablet {
				min-width: 20em;
				max-width: 30em;
			}

			@include mobile {
				padding-bottom: 1em;
				min-width: 0em;
			}
		}

		&-text {
			padding-bottom: 1em;
		}

		&-name {
			white-space: nowrap;
			padding-bottom: 0em;

			span {
				@include tablet {
					white-space: normal;
					font-size: 1.5em !important;
					line-height: 1.2em !important;
					padding-bottom: 0.3em;
				}

				@include mobile {
					font-size: 1.6em !important;
				}
			}
		}

		&-city {
			font-size: 1em;
			color: var(--primary-disable);

			@include tablet {
				font-size: 0.9em;
			}
		}

		&-quote {
			width: 2em;
			min-width: 1.5em;
			margin-right: auto;
		}
	}
}
