@use '../variables' as *;
@use '../mixins' as *;
@use '../media' as *;
@use 'sass:color';

.shop-bottom-menu {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--primary-white);
	border-top: var(--border);
	border-color: var(--primary-link);
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	transform: translateY(100%);
	transition: transform 0.3s ease;
	box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.05);

	font-style: normal;
	font-weight: normal;

	&--visible {
		transform: translateY(0);
	}

	&__total {
		font-weight: 300;
		margin: 0;
	}

	&__button {
		background-color: var(--primary-link);
		color: var(--primary-white);
		border: none;
		border-radius: var(--border-radius-button);
		padding: 6px 40px;
		cursor: pointer;
		transition: background-color 0.3s ease;
		border: 2px solid var(--primary-link);

		&:hover {
			background-color: var(--primary-color);
			color: var(--primary-link);
			border: 2px solid var(--primary-link);
		}
	}

	@include tablet-above {
		padding: 15px 140px;
	}
}
