:root {
	--primary-color: #f8ecd1;
	--primary-white: #ffffff;
	--primary-dark: #242424;
	--primary-disable: rgba(36, 36, 36, 0.3);
	--primary-disable-alt: #afa993;
	--primary-link: #628ebb;

	--border: 2px solid var(--primary-dark);
	--border-radius-card: 15px;
	--border-radius-button: 30px;

	--padding-button-x: 30px;
	--padding-button-y: 15px;

	--font-family-base: 'Fira Mono', monospace;
	--font-family-title: 'Alegreya', serif;
	--font-family-span: 'Great Vibes', serif;

	--container-width: 1920px;
	--container-padding-x: 140px;

	--section-padding-y: 65px;

	--input-height: 90px;
	--button-height: 50px;

	--transition-duration: 0.3s;

	// Sliders
	--project-slide-width: 18em;
}
